<a href="https://colab.research.google.com/github/python123-dev/Pytorch-Tutorial/blob/main/naivebayes_weather.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB
import numpy as np

In [ ]:
data=pd.DataFrame()
data['outlook']=['sunny','sunny','overcast','rainy','rainy','rainy','overcast','sunny','sunny','rainy','sunny','overcast','overcast','rainy']
data['temp']=['hot','hot','hot','mild','cool','cool','cool','mild','cool','mild','mild','mild','hot','mild',]
data['humidity']=['high','high','high','high','normal','normal','normal','high','normal','normal','normal','high','normal','high']
data['windy']=['FALSE','TRUE','FALSE','FALSE','FALSE','TRUE','TRUE','FALSE','FALSE','FALSE','TRUE','TRUE','FALSE','TRUE']
data['play']=['no','no','yes','yes','yes','no','yes','no','yes','yes','yes','yes','yes','no']
data

     outlook  temp humidity  windy play
0      sunny   hot     high  FALSE   no
1      sunny   hot     high   TRUE   no
2   overcast   hot     high  FALSE  yes
3      rainy  mild     high  FALSE  yes
4      rainy  cool   normal  FALSE  yes
5      rainy  cool   normal   TRUE   no
6   overcast  cool   normal   TRUE  yes
7      sunny  mild     high  FALSE   no
8      sunny  cool   normal  FALSE  yes
9      rainy  mild   normal  FALSE  yes
10     sunny  mild   normal   TRUE  yes
11  overcast  mild     high   TRUE  yes
12  overcast   hot   normal  FALSE  yes
13     rainy  mild     high   TRUE   no

In [ ]:
#clean_up_categoricals = {'outlook':{'sunny':1, 'overcast':2, 'rainy':3},
#                         'temp':{'hot':3,'mild':2,'cool':1},
#                         'humidity':{'high':1,'normal':2},
#                         'windy':{'TRUE':1,'FALSE':0},
#                         'play':{'yes':1,'no':0}
#                         }
#data.replace(clean_up_categoricals, inplace=False)

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

#data['outlook']=data.iloc[:,0]
data['outlook'] = le.fit_transform(data['outlook'])

#data['temp']=data.iloc[:,1]
data['temp']=le.fit_transform(data['temp'])

#data['humidity']=data.iloc[:,2]
data['humidity']=le.fit_transform(data['humidity'])

#data['windy']=data.iloc[:,3]
data['windy']=le.fit_transform(data['windy'])

data['play']=data.iloc[:,4]
data['play']=le.fit_transform(data['play'])
data

    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
2         0     1         0      0     1
3         1     2         0      0     1
4         1     0         1      0     1
5         1     0         1      1     0
6         0     0         1      1     1
7         2     2         0      0     0
8         2     0         1      0     1
9         1     2         1      0     1
10        2     2         1      1     1
11        0     2         0      1     1
12        0     1         1      0     1
13        1     2         0      1     0

In [ ]:
X = data.iloc[:, :-1].values
y = data.iloc[:, 4].values
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10)
X_train

array([[0, 2, 0, 1],
       [1, 2, 0, 1],
       [0, 1, 0, 0],
       [2, 0, 1, 0],
       [2, 2, 0, 0],
       [1, 2, 0, 0],
       [1, 0, 1, 0],
       [2, 1, 0, 1],
       [0, 0, 1, 1],
       [1, 0, 1, 1],
       [0, 1, 1, 0],
       [1, 2, 1, 0]])

In [ ]:
classifier=GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
predicted = classifier.predict(X_test)
print(predicted)

[0 0]

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
accuracy = accuracy_score(y_test, predicted)
print('Accuracy of our model is equal ' + str(round(accuracy, 2)) + ' %.')

Accuracy of our model is equal 0.5 %.

In [ ]:
cm = confusion_matrix(y_test, predicted)
cm

array([[1, 0],
       [1, 0]])